@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  max-width: 120rem;
  margin: auto;
  background-color: $background-color;
  background-image: $background-image-primary;
  font-family: $font-family;
  min-height: 100vh;
}

p {
  font-size: 1.5em;
  text-wrap: pretty;
  line-height: 1.35em;
}

a {
  display: block;
  text-decoration: none;
  color: $text-color-secundary;
  font-size: $font-size-primary;
  font-weight: 100;
}

input {
  font-family: $font-family;
  font-size: $font-size-primary;
}

button {
  font-size: $font-size-primary;
}
