* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  display: none;
  margin: 0;
  padding: 0;
  max-width: 120rem;
  min-height: 100vh;
  font-size: 100%;
}

p {
  font-size: 1.5em;
  text-wrap: pretty;
  line-height: 1.35em;
  margin-bottom: 1em;
}

a {
  display: block;
  text-decoration: none;
  color: $text-color-secundary;
  font-size: $font-size-primary;
  font-weight: 100;
}

input {
  font-family: $font-family;
  font-size: $font-size-primary;
}

button {
  font-size: $font-size-primary;
  font-family: $font-family;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0.4375em;
  height: auto;
  border-radius: 0.25em;
  background-color: $background-color-secundary;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: $background-color;
  border-radius: 0.25em;
}
