$text-color-primary: #ffffff;
$text-color-secundary: #313131;

$background-color: #424242;
$background-color-secundary: #fff;
$background-color-search: #6e707a;

$background-image-primary: url('@/assets/img/container_bg.png');
$background-image-secundary: url('@/assets/img/body_bg.png');

$font-family: 'Flexo-Demi', arial, sans-serif;
$font-size-primary: 1.2em;

$color-card: #fbdf40;
